.Cameras {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Cameras .one-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Cameras .signal-video{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
}

.Cameras .signal-video .font{
    margin-bottom: 5px;
}