.Cameras {
    display: flex;
    flex-direction: column;
}

.Cameras .one-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Cameras .signal-video{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: flex-start;
}

.signal-input {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 100%;
}

.signal-input .title{
    font-weight: bold;
    margin-right: 20px;
}

.signal-input .path{
    margin-right: 20px;
}