.Controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.Controller Button{
    width: 200px;
    height: 70px;
    font-size: 24px;
    margin: 0px 20px 20px 20px;
    color: white;
}
